/* Sidebar Styles */
#sidebar-wrapper {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 30;
    top: 0;
    margin-left: -250px;
    background-color: rgba(255,255,255,0.8);
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 0px;
}

#shrunk {
    transition: 0.5s ease; position: relative;
}

.sidebar-nav {
    list-style: none;
    padding-left: 0px;
}

.sidebar-nav li {
    text-indent: 35px;
    line-height: 40px;
}

.sidebar-nav li:nth-child(1){
} 

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #504c4c;
}

.sidebar-nav > li > .navlink:hover {
    text-decoration: none;
    background: rgba(186, 180, 180, 0.4);
    cursor: pointer;
}

.sidebar-nav li .logoholder:hover {
    cursor: default;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.sideicon {
    width: 25px; height: 25px; margin-right: 10px;
}
