/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{
    margin: 0px;
    width: 100%;
    overflow:scroll;
    overflow-x: hidden;
}
div { width: 100%; }

.body {margin: 0px;
width: 100%;}

/* external font */
@font-face {
    font-family: "roboto";
    src: url(roboto-regular.ttf);
}
/* banner*/

#banner {
background: rgba(20, 83, 184, 0.84);
position:fixed;
top:0;
height:8%;
width: 100%;
z-index: 100;
-webkit-box-shadow: -1px 2px 21px -1px rgba(102,99,102,1);
-moz-box-shadow: -1px 2px 21px -1px rgba(102,99,102,1);
box-shadow: -1px 2px 21px -1px rgba(102,99,102,1);
}

.banner {
    display: inline;
    float:left;
    height: 20%;
    width: auto;
    min-height: 30px;
    margin-left: 0px;
    margin-top: 0.5%;
}
#banner1 {
  margin-left: 1%;
}
#rulogo {
  width:20vh;
  height: auto;
  position: relative;
}
#bannertext  {
  font-size: 2vh;
  color: #ffffff;
  font-family: "roboto";
  margin-top: 2vh;
  margin-left: 2vh;
}

/* container of intro text and buttons*/

#div2 {
  height:100%;
  width: 70%;
  float:left;
  position: absolute;
  top: 0;
  left: 10;
  z-index: 10;
}

/* introduction textbox*/

span {
  color: #ffffff;
  font-size: 18px; font-size: 1.5vw;
  line-height: 200%;
}
#intro {
  color: #ffffff;
  font-size: 12px; font-size: 1.2vw;
  font-family:"roboto"
}

#box1{
  height:40vh;
  width:50%;
  margin-top: 20%;
  margin-left: 40%;
  align-content: center;
}

#box1 > p {
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
/* buttons*/
.button {
  height:auto;
  width: auto;
  display: inline;
  padding: 0px;
}
.img {
  width:40%;
  height:auto;
  margin: 0px;
  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

.img:hover {
  opacity: 1;
            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            -o-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
            box-shadow: inset 0 0 0 0 rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.3);
}

/* bus section*/
#div3 {
  position:relative;
  }


/* pagebreaker after backgroung picture*/

.pagebreaker {
height:30px;
width: auto;
position:relative;
}

/* news and bookmark sections*/
.pic {
  width:100%;
  height:auto;
  position:relative;
}

/* bottom background*/
#div5 {
  background: #1453b8;
  height:15%;
  width:100%;
  position:absolute;
  margin:0px;
  padding-top: 3vh;
}

a:link {
  font-family: "roboto";
  color:#ffffff;
  text-decoration: none;
}
/* visited link */
a:visited {
    color: #ffffff;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #c4d6f5;
    text-decoration: none;
}
/* bottom and copyright*/

.main {
width:40%;
height:40%;
margin-left: auto;
margin-right: auto;
margin-top: 0;
padding-left: auto;
padding-left: auto;
}
.small {display:inline;
float:left;
}

.b {
width:70%;
height:auto;
margin-top: 15%;
}
#up1 {
  height:100%;
  width: 7%;
margin-left: 15%;
margin-top:1%;
}
#up2 {
  height:90%;
  width: 20%;
margin-left: 1vh;
padding-top: 0;
font-size:1.2vw;
vertical-align: middle;
}
#up3 {
  height:100%;
  width: 7%;
  margin-left: 5%;
  margin-top:1%;
}
#up4 {
  height:90%;
  width: 32%;
margin-left: 1vh;
font-size:1.2vw;
vertical-align: middle;
padding-top: 0;
}
#down {
  width:40%;
  height:20%;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0px;
text-align:center;
padding:0px;
font-family: "roboto";
font-size:1.2vw;
color:#ffffff;
padding-left: auto;
padding-right: auto;
clear: both;
}

/* Version history page */
#scroll {
font: 12px "roboto";
margin:auto;
margin-top: 10px;
}

#scrollbox {
height:460px;
width:450px;
margin-left: auto;
margin-right: auto;
background-color: #ffffff;
box-shadow: 0px 0px 5px 3px #cfcbcf;
border-radius: 5px;
}

#v01 {
height:25px;
width:370px;
margin: auto;
padding-top: 12px;
font-family: "roboto";
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #e8e5e8;
border-radius: 10px;
box-shadow: inset 0 0 10px #cfcbcf;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #cfcdcf;
box-shadow: inset 0 0 6px #757475;
}

::-webkit-scrollbar-thumb:hover {
background: #a8a6a8;
box-shadow: inset 0 0 6px #cfcbcf;
}

.fixed {background-color: #f0d6ec;
border-radius: 2px}
.new {background-color: #b4fae3;
border-radius: 2px}
