/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
body{overflow:hidden;}
#div2{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
#box1{width:100%;}
#rutext {font-size: 7vw;line-height: 150%;}
#intro {font-size: 5vw;}
.img {
  width:80%;
  height:auto;
  margin: 0px;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
body {min-height: 900px;}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
body {min-height: 1200px;}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{
    margin: 0px;
    width: 100%;
    overflow:scroll;
    overflow-x: hidden;
}

/* external font */
@font-face {
    font-family: "roboto";
    src: url(roboto-regular.ttf);
}
/* banner*/

#banner {
background: rgba(20, 83, 184, 0.84);
position:fixed;
top:0;
height:8%;
width: 100%;
z-index: 100;
-webkit-box-shadow: -1px 2px 21px -1px rgba(102,99,102,1);
-moz-box-shadow: -1px 2px 21px -1px rgba(102,99,102,1);
box-shadow: -1px 2px 21px -1px rgba(102,99,102,1);
}

.banner {
    display: inline;
    float:left;
    height: 20%;
    width: auto;
    min-height: 30px;
    margin-left: 0px;
    margin-top: 0.5%;
}
#banner1 {
  margin-left: 1%;
}
#rulogo {
  width:20vh;
  height: auto;
  position: relative;
}
#bannertext  {
  font-size: 2vh;
  color: #ffffff;
  font-family: "roboto";
  margin-top: 2vh;
  margin-left: 2vh;
}

/* container of intro text and buttons*/

#div2 {
  height:100%;
  width: 70%;
  float:left;
  position: absolute;
  top: 0;
  left: 10;
  z-index: 10;
}

/* introduction textbox*/

#rutext {
  color: #ffffff;
  font-size: 18px; font-size: 1.5vw;
  line-height: 200%;
}
#intro {
  color: #ffffff;
  font-size: 12px; font-size: 1.2vw;
  font-family:"roboto"
}

#box1{
  height:40vh;
  width:50%;
  margin-top: 20%;
  margin-left: 40%;
  align-content: center;
}

#box1 > p {
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
/* buttons*/
.button {
  height:auto;
  width: auto;
  display: inline;
  padding: 0px;
}
.img {
  width:40%;
  height:auto;
  margin: 0px;
}

/* bus section*/
#div3 {
  position:relative;
  }


/* pagebreaker after backgroung picture*/

.pagebreaker {
height:30px;
width: auto;
position:relative;
}

/* news and bookmark sections*/
.pic {
  width:100%;
  height:auto;
  position:relative;
}

/* bottom background*/
#div4 {
  background: #1453b8;
  height:15%;
  width:100%;
  position:absolute;
  margin:0px;
  padding-top: 3vh;
}

a:link {
  font-family: "roboto";
  color:#ffffff;
  text-decoration: none;
}
/* visited link */
a:visited {
    color: #ffffff;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #c4d6f5;
    text-decoration: none;
}

/* footer*/
.main {
width:39vh;
height:5vh;
margin-left: auto;
margin-right: auto;
margin-top: 0;
padding-left: auto;
padding-left: auto;
}

.small {display:inline;
float:left;
}

.b {
width:3vh;
height:3vh;
}
#up1 {
  height:3vh;
  width: 3vh;
  margin-top: 1.6vh;
}

#up2 {
  height:3vh;
  width: 13vh;
margin-left: 1vh;
padding-top: 0;
font-size:1.8vh;
}

#up3 {
  height:3vh;
  width: 3vh;
  margin-top: 1.6vh;
}

#up4 {
  height:3vh;
  width: 18vh;
margin-left: 1vh;
font-size:1.8vh;
padding-top: 0;
}

#down {
  width:70%;
  height:20%;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0px;
text-align:center;
padding:0px;
font-family: "roboto";
font-size:1.8vh;
color:#ffffff;
padding-left: auto;
padding-right: auto;
clear: both;
}

#pbfooter{
  height:10vw;
  width: 100%;
}

/* Version history page */
#scrollbox {
height:40vh;
width: 40vw;
margin-left: auto;
margin-right: auto;
background-color: #ffffff;
box-shadow: 0px 0px 5px 3px #cfcbcf;
border-radius: 1vh;
}

#v01 {
height:15%;
width:87%;
margin: auto;
font-family: "roboto";
font-size: 1.4vw;
vertical-align: middle;
padding: 1%;
}

#scroll {
font: 1vw "roboto";
height:76%;
width:87%;
margin: auto;
overflow:auto;
overflow-x: hidden;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #e8e5e8;
border-radius: 10px;
box-shadow: inset 0 0 10px #cfcbcf;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #cfcdcf;
box-shadow: inset 0 0 6px #757475;
}

::-webkit-scrollbar-thumb:hover {
background: #a8a6a8;
box-shadow: inset 0 0 6px #cfcbcf;
}

.fixed {background-color: #fb8998;
border-radius: 2px;
font-size: 1vw;
}
.new {background-color: #57e5b6;
border-radius: 2px;
font-size: 1vw;
}
