<br><br><br><br>
<div class="mainBox" ng-controller="blacklistFX">
    <div>Add the User to Blacklist</div>
    <div class="space20"></div>    
        <form class="mainbox0 center" name="Addblock" novalidate>    
            <input type="text" class="form-control" name="addlist" ng-model="newuser.list" required="true" placeholder="add user to block...">
            <div class="space20"></div>
            <button class="btn blue" ng-click="addUser()" ng-disabled="Addblock.addlist.$touched && Addblock.addlist.$invalid">Add User</button>
            <div class="space20"></div>
        </form>
        <div>User Blacklist</div>
        <div class="mainbox0">
            <div class="blockeduser" ng-repeat="blocked in blUsers">
                <div class="line">{{blocked.list}}</div>
                <div class="line" style="float:right;"><a class="btn btn-xs primary" ng-click="removeUser(blocked)" style="margin-top:0;">Remove</a></div>   
                <div class="clear"></div>
            </div>
            <div class="space20"></div> 
        </div>
</div>
<br><br><br><br>