/* version history page */

/* media queries */

/* Iphone 5s (portrait) ----------- */
@media only screen and (max-width:390px) {
/* Styles */

    body #scrollbox, body #slider {   height:85vw;   width: 85vw;  margin-top: 10px; }

    body #row1 {   font-size: 4vw;   }

    body #row2, p > .fixed, p > .new {   font-size:  3vw; }

    div #close1, div #close {width: 4vw; height: auto;}

    div #CUrow1 {   font-size: 5vw;   }

    body #slider {   font-size:  4vw; } 

}

/* Samsumg s6, Samsung note iphone 6, iphone 6 plus(portrait) ----------- */
@media only screen and (max-width:550px) and (min-width:391px) {
/* Styles */

    body #scrollbox, body #slider {   height:75vw;   width: 75vw;  margin-top: 10px; }

    body #row1,  div #CUrow1  {   font-size: 3.2vw;   }

    body #row2, p > .fixed, p > .new, body #slider,  {   font-size:  2.5vw; }

    div #close1, div #close {width: 3.2vw; height: auto;}

}

/* small tablets (portrait) ----------- */
@media only screen and (max-width:750px) and (min-width:551px) {
 
    body #scrollbox, body #slider {   height:58vw;   width: 58vw;  margin-top: 20px; }

    body #row1,  div #CUrow1  {   font-size: 2.2vw;   }

    body #row2, p > .fixed, p > .new, body #slider,  {   font-size:  1.8vw; }

    div #close1, div #close {width: 2.2vw; height: auto;}
  
}

/* large tablets, laptop screen (portrait) ----------- */
@media only screen and (max-width:1200px) and (min-width:751px) {
  
  body #scrollbox, body #slider {   height:48vw;   width: 48vw;   margin-top: 20px;   }

  body #row1,  div #CUrow1  {   font-size: 2vw;   }

  body #row2, p > .fixed, p > .new, body #slider, {   font: 1.5vw "roboto";   line-height: 190%;   }

  div #close1, div #close {width: 2vw; height: auto;}
}

/*default setting*/

/*-------------------------version history modual---------------------------*/

#close1, #close {width: 1.7vw; height: auto; position:absolute; right:0; margin-top: auto; margin-bottom: auto;}

#scrollbox, #slider{
display: none;  
height:35vw;
width: 35vw;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
margin-top: 20px;
background-color: #ffffff;
border:1px solid #d8d8d8;
border-radius:5px;
box-shadow:0 0 8px gray;
}

#container1, #container2{
width:85%;
height: 100%;
margin-left:auto;
margin-right:auto;
}

.row {
margin-left:auto;
margin-right:auto;
font-family: "roboto";
position: relative;
}

#row1, #CUrow1 {
font: 1.7vw "roboto";
position: relative;
height:10%;
padding:0;
margin-top: 7%;
font-weight: bold;
}

#cell1{padding:0; line-height: 100%;}

#row2 { 
font: 1.05vw "roboto";
height:76%;
overflow:auto;
overflow-x: hidden;
line-height: 190%;
padding-right: 5px;
}

#row2 p {
  margin:0;
  padding:0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track {
background: #e8e5e8;
border-radius: 5px;
box-shadow: inset 0 0 10px #cfcbcf;
}

::-webkit-scrollbar-thumb {
border-radius: 1vh;
background: #cfcdcf;
box-shadow: inset 0 0 6px #757475;
}

::-webkit-scrollbar-thumb:hover {
background: #a8a6a8;
box-shadow: inset 0 0 6px #cfcbcf;
}

.fixed {background-color: #f6bdd4;
border-radius: 2px;
font-size: 1vw;
}
.new {background-color: #57e5b6;
border-radius: 2px;
font-size: 1vw;
}

/*-------------------------contact us modual---------------------------*/
#slider{
font: "roboto";
overflow: auto;
}

#container2{
padding-top: 10px;  
}

#clientinfo {display: none;}

#send {
background:rgba(204, 0, 51, 0.8);
border:none;
color:#fff;
width:100%;
font-size:22px;
font-weight:bolder;
padding:8px 0;
border-radius:3px;
cursor:pointer;
margin-top:20px;
}

#send:hover{
background: #eb3472;
color: white;
top:0.5px;
left:2px;
-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.45);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.45);
border: 0px; 
}

#container2 select, textarea, input {
  margin-bottom: 10px;
}

#headline {
border-bottom:1px dotted #d8d8d8;
padding-bottom: 8px;
margin-bottom: 8px;
}

#email {margin-bottom: 0;}

#slider::-webkit-scrollbar { width: 0 !important }
#slider { -ms-overflow-style: none; }
#slider { overflow: -moz-scrollbars-none; }